on:
  push:
    branches:
      - main
permissions:
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: "arn:aws:iam::529928146857:role/github-sam-deploy-role"
          role-session-name: ci
          aws-region: us-east-1
      # Build inside Docker containers
      # - run: sam build --use-container
      # Prevent prompts and failure when the stack is unchanged
      - run: rm -rf .aws-sam/build

      - run: sam deploy 